/*html,
body,
.information,
.content,
.news  {
    height: 100%;
}
*/
body {
	background-image: url(../img/bg.jpg);
	background-repeat: repeat-x;
	width: 100%;
	height: 100%;
}

.clearfix:after {
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

.bg_image {
	position: absolute;
	left: 100px;
	right: 100px;
	width: 1280px;
	height: 1024px;
}

.wrapper {
	width: 1000px;
	margin: 0 auto;
	background-color: #fff;
	box-shadow: 0 4px 10px 0 black;
}

.header {
	position: relative;
	width: 1000px;
	background-color: #fff;
}

.logo {
	float: left;
	margin: 0px 20px 2px 5px;
	padding: 7px 20px 0 15px;
}

h4 {
	margin: 10px 0 5px 0;
	padding-left: 40px;
	font-size: 12px;
	font-weight: normal;
	color: #69c;
	font-family: 'Tahoma';
}

.contacts {
	float: right;
	margin: 0px 15px 15px 60px;
	padding: 0px 15px 15px 60px;
	list-style: none;
	font-size: 12px;
	font-weight: normal;
	color: #099;
	font-family: 'Tahoma';
}

.contacts ul {
	margin: 0;
	list-style: none;
}

.contacts li {
	padding-top: 5px;
}

.flag {
	float: right;
}

.flag ul {
	margin: 0 10px;
	padding: 0 10px;
	list-style: none;
}

.flag li {
	float: left;
}

.flag a {
	display: block;
	width: 57px;
	line-height: 10px;
	text-align: center;
}
.flag span {
	font-size: 10px;
	color: #099;
}

.headline img {
	clear: both;
	width: auto;
	margin: 0 0 -4px 0;
	border-top: 1px solid #099;
	border-bottom: 1px solid #099;
}

.menu {
	background: #333;
}

.menu ul {
	width: 1000px;
	margin: 0 auto;
	padding: 0;
	border-bottom: 1px solid #000;
}

.menu li {
	position: relative;
	width: 140px;
	margin: 0 auto;
	float: left;
	list-style: none;
	text-align: center;
}

.menu a {
	display: block;
	padding: 5px 0;
	margin: 5px;
	/*border:1px solid #000;*/
	text-decoration: none;
	color: #fff;
	font-size: 14px;
	font-weight: normal;
	font-family: 'Tahoma';
}

.arrow {
	font-size: 7px;
	color: #fff;
	padding: 5px;
	/*vertical-align: top;*/
}

.menu>li>a:hover {
	background-color: #333;
}

.menu ul .submenu {
	display: none;
	position: absolute;
	padding: 5px;
	width: 140px;
	top: 36px;
	left: 0;
	background-color: #333;
	border-top: 1px solid #000;
}

.menu ul .submenu> li {
	display: block;
	text-align: left;
	padding-left: 15px;
}

.menu ul .submenu> li> a {
	display: block;
	margin: 0 auto;
	width: auto;
	/*border:1px solid #000;*/
	text-decoration: none;
	font-size: 14px;
	font-weight: normal;
	color: #fff;
	font-family: 'Tahoma';
}

.menu ul>li:hover>ul.submenu {
	display: block;
}

main {
	display: flex;
	width: 1000px;
	margin:0 auto;
	background-color: #fff;
}

.information {
	width: 25%;
	padding-bottom: 5px;
	background-color: #fff;
}

.content {
	width: 50%;
	padding-bottom: 5px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

.news {
	width: 25%;
	padding-bottom: 5px;
	margin: 0 -5px 0 0;
	text-align: center;
	line-height: 10px;
	background-color: #fff;
}

h2 {
	text-align: center;
	line-height: 10px;
	font-size: 18px;
	color: #333;
	font-family: 'Tahoma';
}

p {
	text-align: left;
	padding-left: 40px;
	line-height: 23px;
	font-size: 14px;
	color: #333;
	font-family: 'Tahoma';
}

footer {
	width: 1000px;
	margin: -5px auto;
}

footer p {
	text-align: center;
	font-size: 12px;
	color: #fff;
	font-family: 'Tahoma';
}