body {
	position: relative;
	width: 1280px;
	height: 100%;
}

.clearfix:after {
	display: block;
	clear: both;
	content: '';
}

.bg_image {
	position: absolute;
	left: 100px;
	right: 100px;
	width: 1280px;
	height: 1024px;
}

.wrapper {
	position: absolute;
	left: 235px;
	width: 1000px;
	margin: 0 auto;
	background-color: #fff;
}
.header {
	position: relative;
	width: 1000px;
	background-color: #fff;
}

.logo {
	float: left;
	margin: 0px 20px 0 5px;
	padding: 7px 20px 0 15px;
}

span {
	color: #69c;
}

.contacts {
	float: right;
	margin: 0px 15px 5px 60px;
	padding: 0px 15px 5px 60px;
	list-style: none;
	font-size: 12px;
	font-weight: normal;
	color: #099;
	font-family: 'Tahoma';
}

.contacts li {
	padding-top: 8px;
}

.flag {
	float: right;
	margin: 5px 15px;
	text-align: center;
}

.flag ul {
	float: left;
	margin: 0 5px;
	padding: 0 5px;
	list-style: none;
}

.flag a {
	font-size: 10px;
	color: #099;
}

.image img {
	width: auto;
	margin: 2px 0 0 0;
	border-top: 1px solid #099;
	border-bottom: 1px solid #099;
}

.mеnu ul {
	display: block;
	border-bottom: 1px solid #000;
	background: #333;
}

.menu li {
	float: left;
	position: relative;
	list-style: none;
}

.menu a {
	display: block;
	padding: 5px 20px;
	margin: 5px;
	border:1px solid #000;
	text-decoration: none;
	color: #000;
}
.menu>li>a:hover {
	background-color: #333;
}

.menu ul .submenu {
	display: none;
	position: absolute;
	width: 120px;
	top: 37px;
	left: 0;
	background-color: #333;
	border: 1px solid #000;
}

.menu ul .submenu> li {
	display: block;
}

.menu ul .submenu> li> a {
	display: block;
	padding: 5px 20px;
	margin: 5px;
	border:1px solid #000;
	text-decoration: none;
	color: #000;

}

.menu ul .submenu> li> a:hover {
	text-decoration: underline;
}

