table {
	/*width: 700px;
	height: 700px;*/
	border: 5px solid #000;
	border-collapse: collapse;
}

.hide {
	display: none;
	overflow: hidden;
}

tr {
	width: 50px;
	height: 50px;
}

td {
	width: 50px;
	height: 50px;
	border: 5px solid #000;
}

.yellow {
	background-color: #fc6;
}

.red {
	background-color: #f00;
}

.black {
	background-color: #000;
}

.blue {
	background-color: #00f;
}