.wrapper {
	width: 1060px;
	margin: 0 auto;
	background: #fff;
	box-shadow: 0px 1px 13px -2px gray;
}

a {
	text-decoration: none;
}

.header,
.sidebar {
	margin: 0px;
	width: 968px;
	padding: 0px 46px;
}

/*  HEADER  */

.header {
	height: 210px;
}

.logo_box {
	padding-top: 50px;
	padding-bottom: 40px;
}

.logo {
	margin: 0;
  	text-align: center;
}
	
.menu {
	background: linear-gradient(to top, #454444, #5e5e5e);
}

html>body .menu li a {
	width: auto;
}
.menu ul {
	width: 968px;
  	list-style: none;
  	overflow: hidden;
}

.menu li {
	display: inline-block;
}

.menu a {
	display: inline-block;
	padding: 15px 35px;
	color: white;
	font-size: 14.67px;
	font-family: 'Open Sans', sans-serif;
}

.menu li a:hover {
	display: inline-block;
	padding: 15px 35px;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	color: white;
	background: #333;
	font-size: 14.67px;
	font-family: 'Open Sans', sans-serif;
}

/*  SIDEBAR  */

.sidebar {
	float: left;
	width: 240px;
	display: block;
}

.sidebar ul {
	border: 1px solid #cccccc;
}

.sidebar li {
	border-top: 1px solid #cccccc;
}

.sidebar li:first-child {
	border-top: none;
}

.sidebar li:last-child {
	border-bottom: none;
}

html>body .sidebar li a {
	width: auto;
}

.sidebar a {
	display: block;
	padding: 15px 25px;
	width: 100%;
	color: gray;
	font-size: 13.33px;
	font-family: 'Open Sans', sans-serif;
}

.sidebar li a:hover {
	display: block;
	padding: 15px 35px;
	font-size: 13.33px;
	color: black;
	font-family: 'Open Sans', sans-serif;
}

/*  MAIN  */

.main {
	display: block;
	margin-left: 330px;
	margin-right: 46px;
	width: auto;
}

.img_bicycle {
	margin-bottom: 40px;
	border: 1px solid #cccccc;
	height: 400px;
}

.imgCenter {
	margin: 45px auto;
	display: block;
}

.content {
	margin-bottom: 65px;
	padding-left: 30px;
	line-height: 30px;
	font-size: 13.33px;
	font-family: 'Open Sans', sans-serif;
}

/*  FOOTER  */

.footer {
	display: inline-block;
	width: 870px;
	margin: 0 46px 60px 46px;
	padding: 0px 48px;
	background: #cccccc;
}

html>body .footer li a {
	width: auto;
}
.footer ul {
	width: 968px;
  	list-style: none;
  	overflow: hidden;
}

.footer li {
	padding: 13px;
	display: inline-block;
}

.footer a {
	padding: 15px 25px;
	color: black;
	font-size: 13.33px;
	font-family: 'Open Sans', sans-serif;
}

.footer a:hover {
	text-decoration: underline;
}

.footer ul li:last-child {
	padding-left: 200px;
	font-size: 13.33px;
	font-family: 'Open Sans', sans-serif;
}