.left_right_margin {
	margin: 0px 154px;
	background-color: #f9f9f9;
	box-shadow: 0px 2px 5px 0px grey;
}

a {
	text-decoration: none;
}

.header,
.sidebar,
.footer {
	margin: 0px;
	width: 1119px;
	padding: 0px 46px;
}

/*  HEADER  */

.header {
	height: 210px;
}

.logo_box {
	margin-top: 50px;
	margin-bottom: 40px;
	width: 1119px;
	height: 40px;
	float: left;
}

.logo {
	margin: 0;
  	text-align: center;
}
	
.menu {
	margin-bottom: 40px;
	width: 1119px;
	height: 40px;
	display: inline-block;
	position: relative;
	background: linear-gradient(to top, #454444, #5e5e5e);
}

.menu ul {
	width: 1060px;
  	list-style: none;
  	overflow: hidden;
}

.menu li {
	width: 130px;
	line-height: 40px;
	display: inline-block;
	text-align: center;
}

.menu li:hover {
	width: 130px;
	line-height: 40px;
	display: inline-block;
	text-align: center;
	background: #333333;
}

.menu a {
	color: white;
	font-size: 14.67px;
	font-family: 'Open Sans', sans-serif;
}

/*  SIDEBAR  */

.sidebar {
	position: absolute;
	width: 240px;
	height: 240px;
	display: block;
}

.sidebar li {
	height: 40px;
	line-height: 40px;
	padding-left: 25px;
	text-align: left;
	border: 1px solid #cccccc;
}

.sidebar li:hover {
	height: 40px;
	line-height: 40px;
	padding-left: 37px;
	text-align: left;
	border: 1px solid #cccccc;
}

.sidebar a {
	color: gray;
	font-size: 13.33px;
	font-family: 'Open Sans', sans-serif;
}

.sidebar li:hover a {
	color: black;
	font-family: 'Open Sans', sans-serif;
}

/*  MAIN  */

.main {
	position: relative;
	padding-left: 333px;
	padding-right: 46px;
	width: 726px;
}
article {
	width: 834px;
}

.img_bicycle {
	margin-bottom: 40px;
	border: 1px solid #cccccc;
	height: 400px;
}

.imgCenter {
	margin: 45px auto;
	display: block;
}

.content {
	margin-bottom: 65px;
	padding-left: 30px;
	line-height: 30px;
	font-size: 13.33px;
	font-family: 'Open Sans', sans-serif;
}

/*  FOOTER  */

.footer {
	margin-bottom: 60px;
	height: 40px;
	display: inline-block;
	background: #cccccc;
}

/*.footer ul {
	width: 1120px;
  	list-style: none;
  	overflow: hidden;
}
*/
.footer li {
	width: 170px;
	line-height: 40px;
	display: inline-block;
	text-align: left;
}

.footer a {
	color:black;
	font-size: 13.33px;
	font-family: 'Open Sans', sans-serif;
}

.footer a:hover {
	text-decoration: underline;
}
