/*html,
body {
	width: 100%;
	height: 100%;
}
*/
.header,
.main,
.footer {
	margin: 0 auto;
}

.wrapper {
	margin: 0 auto;
	background: #560;
/*	background-image: url('img/bg.jpg');
	background-size: 100%;*/
}

/*.wrapper img {
	width: 100%;
}*/

/*  HEADER  */

.header {
	height: 166px;
}

.logo {
	display: block;
	float: left;
	margin: 10px 70px;
}

.contacts {
	display: block;
	float: right;
	margin: 56px 70px;
	padding-top: 35px;
}

/*  MAIN  */

.main {
	width: 100%;
}

.india,
.nepal,
.tibet,
.bhutan,
.sri_lanka,
.maldives {
	float: left;
	display: block;
	width: 263px;
	margin: 52px 11px;
}