@font-face {
    font-family: 'Helvetica Neue';
    src: url('fonts/helveticaneuecyr-light-webfont.eot');
    src: url('fonts/helveticaneuecyr-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helveticaneuecyr-light-webfont.woff2') format('woff2'),
         url('fonts/helveticaneuecyr-light-webfont.woff') format('woff'),
         url('fonts/helveticaneuecyr-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('fonts/helveticaneuecyr-bold-webfont.eot');
    src: url('fonts/helveticaneuecyr-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/helveticaneuecyr-bold-webfont.woff2') format('woff2'),
         url('fonts/helveticaneuecyr-bold-webfont.woff') format('woff'),
         url('fonts/helveticaneuecyr-bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
