body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.wrapper {
	max-width: 908px;
	margin: 5px auto;
	padding:5px;
}

.header {
	width: 908px;
	height: 400px;
	display: flex;
	flex-direction: column;
}

.info {
	width: 908px;
	margin-bottom: 10px;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.contacts {
	width: 281px;
	flex-grow: 2;
	display: flex;
	flex-direction: row;
	font-size: 18px;
	color: #666;
	font-family: Arial, sans-serif;
}

.contacts .tel-1 {
	margin-left: 12px;
	padding-left: 21px;
	line-height: 32px;
}

.contacts .tel-1 span {
	display: inline-block;
	margin: 0;
	padding-left: 4px;
}

.contacts .tel-2 {
	display: block;
	padding-left: 0;
	line-height: 32px;
	padding-left: 8px;
}

.contacts .tel-2 span {
	display: inline-block;
	margin: 0;
	padding-left: 4px;
}

.contacts .phone {
	display: block;
	width: 20px;
	height: 20px;
	background: linear-gradient(to top, #369, #036);
	border-radius: 16px;
	position: absolute;
	left: 7px;
	bottom: 1px;
}

.phone i {
	color: #fff;
	padding-left: 2px;
}

.login {
	width: 450px;
	flex-grow: 3;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	border-radius: 5px;
	-webkit-box-shadow: 3px 2px 4px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 3px 2px 4px 0px rgba(0,0,0,0.5);
	box-shadow: 3px 2px 4px 0px rgba(0,0,0,0.5);
	background: linear-gradient(to top, #036, #369);
}

.login i {
	display: block;
	font-size: 18px;
	padding: 5px 3px 0 9px;
/*	padding-top: 5px;*/
	color: #fff;
}

.login-form {
	width: 274px;
	margin: 0;
	padding: 0;
}

.login input[type="text"],
input[type="password"] {
	width: 108px;
	margin-right: 3px;
	padding-left: 3px;
	font-size: 11px;
	font-family: 'Lucida Sans Unicode', arial;
}

.login input[type="submit"] {
	background: none;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
	cursor: pointer;
	border: none;
	font-size: 9px;
	color: #fff;
	font-family: 'Lucida Sans Unicode', arial;
}

.login a {
	display: block;
	margin-top: 1px;
	line-height: 25px;
	font-size: 11.7px;
	color: rgba(255,255,255, .5);
	font-family: 'Lucida Sans Unicode', arial;
}

.login .registration {
	text-decoration: none;
	margin-right: 19px;
	font-size: 11px;
	color: #fff;
}

.login .registration:before {
	content: '';
	display: inline-block;
	height: 10px;
	padding-right: 5px;
	vertical-align: middle;
	border-left: 1px solid #fff;
}

.icons {
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 42px;
	height: 20px;
	margin: 0 10px;
	padding:0 5px;
	font-size: 11px;
	border: 1px solid #ccc;
	border-radius: 15px;
	-webkit-box-shadow: 0 2px 2px -1px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 2px 2px -1px rgba(0,0,0,0.5);
	box-shadow: 0 2px 2px -1px rgba(0,0,0,0.5);
}

.icons a {
	color: #699;
}

.logo {
	width: 908px;
}

.nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 908px;
	border-radius: 8px;
	box-shadow: 0 7px 6px -5px #fff inset;
	background: linear-gradient(to top, #000, #333);
}

.nav ul {
	flex-grow: 1;
	display: flex;
	justify-content: flex-end;
	margin: 5px;
	margin-right: 50px;
	padding: 5px;
	list-style: none;
}

.nav ul li {
	display: inline-block;
	width: 124px;
	text-align: center;
}

.nav ul li a {
	display: block;
	padding: 5px 10px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 16px;
	color: rgba(255, 255, 255, .5);
	font-family: 'Lucida Sans Unicode', arial;
}

.nav ul li a:hover {
	display: block;
	padding: 5px 10px;
	border-radius: 15px;
	color: #fff;
	background: linear-gradient(to top, #036, #369);
}

.nav .li-width {
	width: 100px;
}

.basket {
	position: relative;
	display: flex;
	flex-direction: row;
}

.basket i {
	position: absolute;
	left: -25px;
	top: 10px;
	height: 15px;
	color: #39c;
}

.basket p {
	font-size: 11px;
	color: rgba(255, 255, 255, .5);
	font-family: Arial, sans-serif;
}

.basket p span {
	margin-right: 15px;
	color: #036;
	font-size: 12px;
}
.search {
	width: 908px;
	height: 100px;
	display: flex;
	flex-direction: row;
}

.search-cars {
	flex-grow: 3;
	height: 50px;
	background: red;
}

.search-tire {
	flex-grow: 1;
	height: 50px;
	background: green;
}

.search-disc {
	flex-grow: 2;
	height: 50px;
	background: blue;
}

.main {
	width: 908px;
	display: flex;
	flex-direction: row;
}

.catalog {
	flex-grow: 1;
}

.catalog-title {
	width: 176px;
	margin-top: 5px;
	margin-bottom: 20px;
	padding: 3px;
	border: 1px solid #036;
	border-radius: 16px;
	box-shadow: 2px 5px 10px #999;
}

.catalog-icon {
	display: flex;
	flex-direction: row;
	width: 20px;
	height: 20px;
	background: linear-gradient(to top, #036, #369);
	border-radius: 16px;
}

.catalog-icon i {
	padding-top: 3px;
	padding-left: 3px;
	margin-right: 10px;
	color: #fff;
	font-size: 15px;
}

.catalog-icon h1 {
	white-space: pre;
	line-height: 4px;
	text-transform: uppercase;
	font-size: 13px;
	color: #036;
	font-family: 'Lucida Sans Unicode', arial;
}

.catalog-names {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 5px;
	width: 149px;
	border: 1px solid #036;
	border-radius: 16px;
}

.catalog-names img {
	width: 20px;
	height: 20px
}

.catalog-names h2 {
	display: inline-block;
	margin: 0;
	padding-left: 5px;
	text-transform: uppercase;
	font-size: 14px;
	color: #036;
	font-family: 'Lucida Sans Unicode', arial;
}

/*.catalog-names h2:before {
	content: '';
	display: block;
	width: 20px;
	height: 20px;
	border-radius: 16px;
	background: #036;
}*/

.catalog-menu h3 span {
	display: block;
	padding-left: 15px;
	text-transform: uppercase;
	font-size: 13px;
	color: #036;
	font-family: 'Lucida Sans Unicode', arial;
}

.catalog-menu img {
	font-size: 15px;
}

.catalog-menu ul li {
	list-style: circle;
	padding: 5px;
	color: #366;
}

.catalog-menu li a {
	text-decoration: none;
	font-size: 13px;
	color: #366;
	font-family: 'Lucida Sans Unicode', arial;
}

.catalog-menu li a:hover {
	text-decoration: underline;
	font-size: 14px;
	color: #036;
	font-weight: bold;
	font-style: italic;
}

.product {
	flex-grow: 2;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	background: linear-gradient(to top, #9cc, #cff);
}

.product a {
	text-decoration: none;
}

.figure {
	width: 140px;
	margin: 20px 10px;
	padding: 0;
	text-align: center;
}

.border {
	border: 1px solid #ccc;
	border-radius: 8px;
	background: #fff;
}

figcaption .tire-name {
	font-size: 15px;
	color: #369;
	font-family: 'Lucida Sans Unicode', arial;
}

figcaption h3 {
	margin: 0;
	padding:  0;
	font-size: 13px;
	color: #000;
	font-family: 'Lucida Sans Unicode', arial;
	font-weight: normal;
}

.tire-price {
	font-size: 16px;
	color: #369;
	font-family: arial , sans-serif;
	font-weight: bold;
	font-style: italic;
}

.tire-price .uah {
	font-size: 12px;
	color: #369;
	font-family: arial , sans-serif;
	font-weight: bold;
	font-style: italic;
}

.brends {
	flex-grow: 1;
}

.brends-icon {
	display: flex;
	flex-direction: row;
	width: 20px;
	height: 20px;
	background: linear-gradient(to top, #036, #369);
	border-radius: 16px;
}

.brends-icon i {
	padding-top: 3px;
	padding-left: 3px;
	margin-right: 10px;
	color: #fff;
	font-size: 15px;
}

.brends-icon h1 {
	white-space: pre;
	line-height: 4px;
	text-transform: uppercase;
	font-size: 13px;
	color: #036;
	font-family: 'Lucida Sans Unicode', arial;
}

.catalog-brends {
	width: 176px;
	margin-top: 5px;
	margin-bottom: 20px;
	padding: 3px;
	border: 1px solid #036;
	border-radius: 16px;
	box-shadow: 2px 5px 10px #999;
	
}

.brends img {
	font-size: 15px;
}

.brends-names {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 5px;
	width: 149px;
	border: 1px solid #036;
	border-radius: 16px;
}

.brends-names h2 {
	display: inline-block;
	margin: 0;
	padding-left: 5px;
	text-transform: uppercase;
	font-size: 14px;
	color: #036;
	font-family: 'Lucida Sans Unicode', arial;
}

fieldset {
	border: none;
}

fieldset ul {
	list-style: none;
	padding: 0;
}

fieldset li {
	margin: 5px;
}

fieldset span {
	padding-left: 15px;
	font-size: 13px;
	color: #366;
	font-family: 'Lucida Sans Unicode', arial;
}

input[type="submit"] {
	margin: 5px;
	margin-left: 25px;
	padding: 5px 10px;
	border-radius: 16px;
	text-transform: uppercase;
	font-size: 11px;
	color: #fff;
	font-family: arial, sans-serif;
	font-weight: normal;
	background: linear-gradient(to top, #036, #369);
}

.footer	{
	width: 908px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.brands-logo {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 25px;
	padding: 5px
}

.brands-logo a {
	padding: 0 10px;
}

.footer .footer-menu {
	text-align: center;
	background: #336;
}

.footer-menu ul {
	margin: 5px;
	padding: 5px;
	list-style: none;
}

.footer-menu li {
	display: inline-block;
	padding-left: 20px;
}

.footer-menu li:after {
	content: '';
	display: inline-block;
	vertical-align: middle;
	padding-left: 20px;
	height: 10px;
	border-right: 1px solid #fff;
}

.footer-menu li:nth-child(4):after {
	border:none;
}


.footer-menu a {
	text-decoration: none;
	font-size: 12px;
	color: #ccc;
	font-family: arial, sans-serif;
}

.footer-menu a:hover {
	color: #69c;
}

.footer-menu p {
	display: block;
	margin-bottom: 50px;
	font-size: 10px;
	color: #633;
	font-family: arial, sans-serif;
}